<h1>전체 글 목록</h1>
<%=link_to '새 글 쓰기', new_post_path%> <br>
<%#<a href="/home/new">새 글 쓰기</a> <br><br> %>
<p>Find me in app/views/home/index.html.erb</p>


<%Post.all.each do |x|%> 
  제목 : <%=x.title%> <br> 
  내용 : <%=x.content%> <br>  
  <a href="/home/destroy/<%=x.id%>">[ 삭제1 ]</a> 

 <%# <%=link_to("[ 삭제2 ]", "/home/destroy/#{x.id}")%> <%#route바꾸기전%>


   <%# <%=link_to("[ 삭제2 ]", post_destroy_path(post_id:x.id) ) %>
  
  
  <%=link_to(post_path(id:x.id), method: :delete) do%> <%# text가 아닌 버튼을 넣고싶다 %>
    <button>삭제2</button>
  <%end%>

 
  <a href="/home/edit/<%=x.id%>">[ 수정 ]</a> <br> 
  <%=link_to(edit_post_path(x.id)) do %>
    <button> 수정2 </button>
  <% end %>
  ____________________________<br> 
<% end %> 



